:root {
    --radius: 5px;
    --padding: 10px;
    --margin: 10px;


    /* DEFAULT THEME */
    --background-primary: #FDFDFF; 
    --background-secondary: #F8F8FF; 
    --component: #E6E7FF; 
    --button-border: #9B9EF0;
    --button-background: #5B5BD6;
    --secondary-text: #5753C6;
    --primary-text: #272962;

    /* LIGHT THEME */
    --light-background-primary: #FDFDFF;
    --light-background-secondary: #F8F8FF;
    --light-component: #E6E7FF;
    --light-button-border: #9B9EF0;
    --light-button-background: #5B5BD6;
    --light-secondary-text: #5753C6; 
    --light-primary-text: #272962; 

    /* DARK THEME */
    --dark-background-primary: #13131E; 
    --dark-background-secondary: #171625; 
    --dark-component: #262A65; 
    --dark-button-border: #5958B1;
    --dark-button-background: #5B5BD6;
    --dark-secondary-text: #B1A9FF;
    --dark-primary-text: #E0DFFE;

}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

/* BASE ELEMENT */
html {
    color: var(--primary-text);
    background-color: var(--background-primary)
}

/* NAVBAR */

/* .navbar {
    height: 100px;
    display: flex;
    align-items: center;
}

.navbar .logo {
    margin: auto;
}

.navbar .nav-links {
    position: absolute;
    top: 50px;
    width: 100%;
    margin-left: -100%;
    display: flex;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar .nav-links ul li {
    margin: 5px 0px;
    width: 90%;
    font-size: 1.5em;
    text-align: center;
}

.navbar .nav-links.is-opened {
    margin-left: 0;
    margin-top: 50px;
}

.navbar .nav-links ul li a {
    width: 100%;
    text-transform: uppercase;
}
*/
.menu-hamburger {
    width: 60px;
    height: 60px;
    position: relative;
    top: 0px;
    right: 10px;
    transition: transform .2s;
}

.menu-hamburger span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--button-background); 
    transform: translateX(-50%) translateY(-50%);
    transition: background .2s;
}

.menu-hamburger span:before,
.menu-hamburger span:after {
    content: "";
    background-color: var(--button-background);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 2px;
    transition: transform 0.2s;
}

.menu-hamburger span:before {
    transform: translateY(-6px);
    transform-origin: 50%;
}

.menu-hamburger span:after {
    transform: translateY(6px);
    transform-origin: 50%;
}

.menu-hamburger:hover span:before {
    transform: translateY(-8px);
}

.menu-hamburger:hover span:after {
    transform: translateY(8px);
}

.menu-hamburger.is-opened {
    transform: rotate(180deg);
}

.menu-hamburger.is-opened span {
    background-color: transparent;
}

.menu-hamburger.is-opened span:before {
    transform: translateY(0) rotate(45deg);
}

.menu-hamburger.is-opened span:after {
    transform: translateY(0) rotate(-45deg);
}
/*
#theme-button{
    cursor: pointer;
}

#theme-button {
    display: none;
}

.main.is-opened {
    margin-top: 120px;
}

.main {
    transition: all ease-in-out .2s;
} */

/* MAIN CONTENT */


@media screen and (min-width: 900px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 9%;
    }

    .header .logo {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .header .navbar {
        justify-self: flex-end;
    }

    .header .navbar a {
        font-size: 1.7rem;
        font-weight: 500;
        color: var(--primary-text);
        margin-left: 3.5rem;
        text-transform: uppercase;
    }

    .header .menu-hamburger {
        display: none;
    }

    section  {
        min-height: 100vh;
        padding: 10rem 9% 2rem;
    }
}