@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --radius: 5px;
    --padding: 10px;
    --margin: 10px;


    /* DEFAULT THEME */
    --background-primary: #FDFDFF;
    --background-secondary: #F8F8FF;
    --component: #E6E7FF;
    --button-border: #9B9EF0;
    --button-background: #5B5BD6;
    --secondary-text: #5753C6;
    --primary-text: #272962;

    /* LIGHT THEME */
    --light-background-primary: #FDFDFF;
    --light-background-secondary: #F8F8FF;
    --light-component: #E6E7FF;
    --light-button-border: #9B9EF0;
    --light-button-background: #5B5BD6;
    --light-secondary-text: #5753C6;
    --light-primary-text: #272962;

    /* DARK THEME */
    --dark-background-primary: #13131E;
    --dark-background-secondary: #171625;
    --dark-component: #262A65;
    --dark-button-border: #5958B1;
    --dark-button-background: #5B5BD6;
    --dark-secondary-text: #B1A9FF;
    --dark-primary-text: #E0DFFE;

}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    scroll-behavior: smooth;
}

/* BASE ELEMENT */
html {
    color: var(--primary-text);
    background-color: var(--background-primary);
    font-family: 'Montserrat', sans-serif;
}


/* NAVBAR */

/* .navbar {
    height: 100px;
    display: flex;
    align-items: center;
}

.navbar .logo {
    margin: auto;
}

.navbar .nav-links {
    position: absolute;
    top: 50px;
    width: 100%;
    margin-left: -100%;
    display: flex;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar .nav-links ul li {
    margin: 5px 0px;
    width: 90%;
    font-size: 1.5em;
    text-align: center;
}

.navbar .nav-links.is-opened {
    margin-left: 0;
    margin-top: 50px;
}

.navbar .nav-links ul li a {
    width: 100%;
    text-transform: uppercase;
}
*/
.menu-hamburger {
    width: 60px;
    height: 60px;
    position: relative;
    top: 0px;
    right: 10px;
    transition: transform .2s;
}

.menu-hamburger span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--button-background);
    transform: translateX(-50%) translateY(-50%);
    transition: background .2s;
}

.menu-hamburger span:before,
.menu-hamburger span:after {
    content: "";
    background-color: var(--button-background);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 2px;
    transition: transform 0.2s;
}

.menu-hamburger span:before {
    transform: translateY(-6px);
    transform-origin: 50%;
}

.menu-hamburger span:after {
    transform: translateY(6px);
    transform-origin: 50%;
}

.menu-hamburger:hover span:before {
    transform: translateY(-8px);
}

.menu-hamburger:hover span:after {
    transform: translateY(8px);
}

.menu-hamburger.is-opened {
    transform: rotate(180deg);
}

.menu-hamburger.is-opened span {
    background-color: transparent;
}

.menu-hamburger.is-opened span:before {
    transform: translateY(0) rotate(45deg);
}

.menu-hamburger.is-opened span:after {
    transform: translateY(0) rotate(-45deg);
}

/*
#theme-button{
    cursor: pointer;
}

#theme-button {
    display: none;
}

.main.is-opened {
    margin-top: 120px;
}

.main {
    transition: all ease-in-out .2s;
} */

/* MAIN CONTENT */


@media screen and (min-width: 940px) {

    p {
        font-size: 1.6rem;
        margin: 2rem 0 2rem;
    }

    section {
        min-height: 100vh;
        padding: 10rem 9% 2rem;
    }

    span {
        color: var(--secondary-text);
    }


    /* GENERIC CLASSES */
    .btn-group {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 34.5rem;
        height: 5rem;
    }

    .btn-alone {
        position: relative;
        top: 0;
        left: 39%;
        display: inline-block;
        height: 5rem;
    }

    .btn {
        width: 15rem;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 600;
        background-color: var(--button-background);
        border-color: var(--button-border);
        color: var(--primary-text);
        letter-spacing: 0.1rem;
    }

    .btn-rounded {
        border-radius: var(--radius);
    }

    .content {
        max-width: 60rem;
    }

    .heading {
        font-size: 4.6rem;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 2rem;
    }


    /* HEADER SECTION DESIGN */

    .header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 9%;
    }

    .header .logo {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .header .navbar a {
        font-size: 1.7rem;
        font-weight: 500;
        color: var(--primary-text);
        margin-left: 3.5rem;
        text-transform: uppercase;
    }

    .header .menu-hamburger {
        display: none;
    }

    /* HOME SECTION DESIGN */

    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5% 9%;
    }

    .home .text-animate {
        position: relative;
        width: 32.8rem;
    }

    .home .text-animate h3 {
        font-size: 2.2rem;
        font-weight: 700;
        color: transparent;
        -webkit-text-stroke: .7px var(--secondary-text);
    }

    .home-social {
        position: absolute;
        bottom: 4rem;
        width: 170px;
        display: flex;
        justify-content: space-between;
    }

    .home-social a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        font-size: 30px;
        border: 1px solid var(--button-border);
        border-radius: 50%;
    }

    .home-img {
        position: absolute;
        top: 23rem;
        right: 11.6rem;
        width: 30%;
        height: 40%;
        background: transparent;
        background: url('../img/development.png') no-repeat;
        background-size: cover;
        background-position: center;
        transition: .5s;
    }

    .home-img:hover {
        opacity: .8;
    }

    /* ABOUT SECTION DESIGN */

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5% 9%;
        background-color: var(--background-secondary);
    }

    .about-img {
        position: relative;
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-img img {
        width: 90%;
        border-radius: 50%;
        border: .2rem solid var(--button-border);
    }

    .resume {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        min-height: auto;
    }

    .resume .resume-row {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
    }

    .resume .resume-row .resume-column {
        flex: 1 1 40rem;
    }

    .resume .resume-row .resume-column .title {
        font-size: 2.5rem;
        margin: 0 0 1.5rem 2rem;
    }

    .resume .resume-row .resume-column .resume-box {
        border-left: .2rem solid var(--button-border);
    } 

    .resume .resume-row .resume-column .resume-box .resume-content {
        position: relative;
        padding-left: 2rem;
    }

    .resume .resume-row .resume-column .resume-box .resume-content .card {
        position: relative;
        padding: 1.5rem;
        border: 2px solid var(--button-border);
        border-radius: var(--radius);
        margin-bottom: 1rem;
        overflow: hidden;
    }

    .resume .resume-row .resume-column .resume-box .resume-content .card::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: var(--component);
        z-index: -1;
        transition: .5s;
    }

    .resume .resume-row .resume-column .resume-box .resume-content .card:hover::before {
        width: 100%;
    }
}