@import url('http://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background-color-primary: linear-gradient(to top left, rgb(23, 53, 87), rgb(104, 27, 171));
    --color-primary: rgb(247, 193, 187);
    --font-family-primary: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background-color-primary);
    font-family: var(--font-family-primary);
    color: var(--color-primary)
}

main {
    display: flex;
    flex-direction: column;
}

/**** NAV ****/
.nav__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav__header .nav__logo img {
    /*width: 100px;
    height: 100px;*/
    border-radius: 50%;
    border: 1px solid var(--color-primary);
}

.nav__header .nav__list {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.nav__header .nav__list .nav__item {
    list-style: none;
}

.nav__header .nav__list .nav__item .nav__link {
    color: var(--color-primary);
    text-decoration: none;
}

/**** SECTION ****/

section {
    min-height: 100vh;
    padding: 1em;
}

/**** SECTION  ABOUT ****/

.about__header, .about__body h3 {
    text-align: center;
}

.about__body {
    display: flex;
    flex-direction: row;
}

.about__body .about__skills {
    flex: 1;
}

.about__skills {
    display: flex;
    flex-direction: column;
}

.about__skills__language{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about__skills__progress-bar__legend {
    flex: 1;
    text-align: center;
}

.about__skills__progress-bar {
    flex: 2;
}
